In [ ]:
print('hello world')

In [ ]:
print('hello')

In [ ]:
2+1

In [ ]:
3%2

In [ ]:
a = 5

In [ ]:
a

In [ ]:
a = 10

In [ ]:
a

In [ ]:
type(a)

In [ ]:
my_income = 100

my_tax_rate = 0.1

income_tax = my_income * my_tax_rate

In [ ]:
income_tax

In [1]:
"ma"

'ma'

In [2]:
print ("hello")

hello

In [3]:
print("hello \n world")

hello
 world

In [4]:
print ("hello \t world")

hello 	 world

In [5]:
len('hello')

5

In [6]:
myString ="hello world"

myString

In [7]:
myString

'hello world'

In [8]:
myString[]

'l'

In [9]:
myString[-2]

'l'

In [10]:
myString[10]

'd'

In [11]:
myString[-1]

'd'

In [12]:
myString = "tatiana"

In [13]:
myString[2:]

'tiana'

In [14]:
myString[:3]

'tat'

In [15]:
myString[0:3]

'tat'

In [16]:
myString[::3]

'tia'

In [17]:
myString[::3]

'tia'

In [18]:
myString = "abcdefgh"

In [19]:
myString[::3]

'adg'

In [20]:
myString[::2]

'aceg'

In [21]:
myString[2:7:2]

'ceg'

In [22]:
myString[::-1]

'hgfedcba'

In [23]:
letter = 'z'

In [24]:
letter * 10

'zzzzzzzzzz'

In [25]:
x = "hello world"

In [26]:
x= x.upper()

In [29]:
x = x.upper()

In [28]:
x

'HELLO WORLD'

In [30]:
x = x.lower()

In [31]:
x

'hello world'

In [32]:
x.split()

['hello', 'world']

In [33]:
x = "hi my name is Tatiana"

In [34]:
x.split()

['hi', 'my', 'name', 'is', 'Tatiana']

In [35]:
x.split(i)

NameError: name 'i' is not defined

In [36]:
x.split('i')

['h', ' my name ', 's Tat', 'ana']

In [37]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [38]:
print('the {2} {2} {2}'.format('dog', 'cat', 'shark'))

the shark shark shark

In [39]:
print('{2} {2} {2}'.format('dog', 'cat', 'shark'))

shark shark shark

In [40]:
print('{d} {c} {s}'.format(d='dog', c='cat', s='shark'))

dog cat shark

In [41]:
50/8

6.25

In [42]:
result = 1000/77

In [43]:
result

12.987012987012987

In [45]:
print("the result was {r}".format(r=result))

the result was 12.987012987012987

In [46]:
print("the result was {r:10.5f}".format(r=result))

the result was   12.98701

In [47]:
name = "taty"

In [49]:
print(f"hello her name is {name}" )

hello her name is taty

In [54]:
name = "taty"
age = 3

In [53]:
print(f"{name} is {age} years old" )

taty is 3 years old

In [1]:
myList = [1,'ola',300]

In [2]:
myList[1:]

['ola', 300]

In [3]:
mysecond_list = [1,'taty', 27]

In [4]:
myList + mysecond_list

[1, 'ola', 300, 1, 'taty', 27]

In [5]:
newList = myList + mysecond_list

In [6]:
newList

[1, 'ola', 300, 1, 'taty', 27]

In [7]:
newList[0] = 777

In [8]:
newList

[777, 'ola', 300, 1, 'taty', 27]

In [9]:
newList.append('FFF')

In [11]:
newList

[777, 'ola', 300, 1, 'taty', 27, 'FFF']

In [12]:
newList.pop()

'FFF'

In [13]:
newList

[777, 'ola', 300, 1, 'taty', 27]

In [14]:
popped_item = newList.pop()

In [15]:
popped_item

27

In [16]:
newList

[777, 'ola', 300, 1, 'taty']

In [17]:
prices = {'iphone':500, 'ipad':300}

In [18]:
prices['iphone']

500

In [19]:
prices = {'iphone':500, 'ipad':300, 'r1':['iphone 6s', 'iphone7', 'iphone X']}

In [20]:
prices[r1][2]

NameError: name 'r1' is not defined

In [21]:
prices['r1']

['iphone 6s', 'iphone7', 'iphone X']

In [22]:
prices['r1'][2]

'iphone X'

In [23]:
prices['r1'][2].upper()

'IPHONE X'

In [24]:
prices['mac'] = 3000

In [25]:
prices

{'iphone': 500,
 'ipad': 300,
 'r1': ['iphone 6s', 'iphone7', 'iphone X'],
 'mac': 3000}

In [26]:
prices.keys ()

dict_keys(['iphone', 'ipad', 'r1', 'mac'])

In [27]:
prices.values()

dict_values([500, 300, ['iphone 6s', 'iphone7', 'iphone X'], 3000])

In [28]:
prices.items()

dict_items([('iphone', 500), ('ipad', 300), ('r1', ['iphone 6s', 'iphone7', 'iphone X']), ('mac', 3000)])

In [ ]:
prices = {'iphone':500, 'ipad':300}

In [29]:
t = (1,2,3)

In [30]:
type(t)

tuple

In [31]:
1 > 2

False

In [32]:
1 === "1"

SyntaxError: invalid syntax (<ipython-input-32-ad5327faa600>, line 1)

In [33]:
1 === '1'

SyntaxError: invalid syntax (<ipython-input-33-f7dc0eefd846>, line 1)

In [34]:
t = {1,2,3,4}

In [35]:
type(t)

set

In [36]:
t.add(1)

In [37]:
t

{1, 2, 3, 4}

In [38]:
t.add(5)

In [39]:
t

{1, 2, 3, 4, 5}

In [40]:
set([1,1,2,3]

SyntaxError: unexpected EOF while parsing (<ipython-input-40-5f57a30363e5>, line 1)

In [41]:
set([1,1,2,3])

{1, 2, 3}

In [42]:
'h' = 'h' and 2 == 2

SyntaxError: can't assign to literal (<ipython-input-42-7f3eb9cb79d4>, line 1)

In [43]:
'h' == 'h' and 2 == 2

True

In [44]:
'h' == 'h' or 2 == 3

True

In [45]:
4>3

True

In [46]:
not 4>3

False

In [47]:
myList = {1,2,3}

In [48]:
myList

{1, 2, 3}

In [49]:
help(myList.clear)

Help on built-in function clear:

clear(...) method of builtins.set instance
    Remove all elements from this set.

In [50]:
(4+8)/2

6.0

In [51]:
type((4+8)/2)

float

In [52]:
print(3*'7')

777

In [53]:
int("3"+"4")

34

In [4]:
def myfunc(*args):
    print(args)

In [5]:
myfunc(40,60,100)

(40, 60, 100)

In [8]:
def myfunc (*args,**kwargs):

    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [10]:
myfunc(10,20,30,food='oranges',frui='egss')

(10, 20, 30)
{'food': 'oranges', 'frui': 'egss'}
I would like 10 oranges

In [1]:
class animal():
    def__init__(self):
        print/("animal created")

SyntaxError: invalid syntax (<ipython-input-1-f75e6304cafe>, line 2)

In [4]:
class animal():
    
    def _init_(self):
        print/("animal created")
        
    def who_am_I(self):
        print("I am an animal")
        
    def eat(self):
        print("I am eating")

In [5]:
myanimal = animal()

In [6]:
myanimal.eat()

I am eating

In [7]:
myanimal.who_am_I()

I am an animal

In [26]:
class Book():
    def __init__(self,title,author,pages):
        
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return f"{self.title} by {self.author}"
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print("A book object has been deleted")

In [27]:
b = Book('python','jose',79)

In [28]:
print(b)

python by jose

In [29]:
str(b)

'python by jose'

In [30]:
len(b)

79

In [31]:
del b

A book object has been deleted

In [32]:
print(b)

NameError: name 'b' is not defined

In [55]:
class Account():
    def __init__(self,owner,balance=0):
        
        self.owner = owner
        self.balance = balance
        
    def deposit(self,dep_amt):

        self.balance = self.balance + dep_amt
            print(f"added {dep_amt} to the balance")

    def widrawal_amount(self,wd_amt):

        if self.balance >= wd_amt:
            self.balance = self.balance - wd_amt
            print("widrawal accepted")

        print("sorry not enough funds")

    def __str__(self): 
        return f"owner:{self.owner} \n Balance:{self.balance}"

IndentationError: unexpected indent (<ipython-input-55-9c23fe23ddeb>, line 10)

In [56]:
a = Account("sam",5000)

In [52]:
a.owner

'sam'

In [53]:
a.balance

5000

In [54]:
print(a)

TypeError: __str__ returned non-string (type NoneType)

In [6]:
    try:
        result = 10 + 10
    except:
        print("you are not adding correctly")
    else:
        print(result)
        print("went well")

20
went well

In [3]:
  try:
        result = 10 + '10'

SyntaxError: unexpected EOF while parsing (<ipython-input-3-4bc1349d50fe>, line 2)

In [7]:
def func():
    return 1

In [8]:
func()

1

In [16]:
def cool():
    def super_cool():
        return'I am very cool'  
        
    return super_cool

In [17]:
some_func = cool()

In [18]:
some_func()

'I am very cool'

In [1]:
def create_cubes(n):
    result=[]
    for x in range(n):
        result.append(x**3)
    return result

In [2]:
create_cubes(10)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [3]:
for x in create_cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [4]:
def create_cubes(n):
  
    for x in range(n):
        yield(x**3)

In [5]:
for x in create_cubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [6]:
list(create_cubes(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [7]:
s = 'hello'

In [8]:
for letter in s:
    print(letter)

h
e
l
l
o

In [10]:
s_iter = iter(s)

In [11]:
next(s_iter)

'h'

In [12]:
next(s_iter)

'e'

In [13]:
next(s_iter)

'l'

In [14]:
next(s_iter)

'l'

In [15]:
next(s_iter)

'o'

In [2]:
from collections import Counter

In [3]:
l = [1,2,1,2,3,0.0.0.12.12.12.27]

SyntaxError: invalid syntax (<ipython-input-3-f5ffb71d22fe>, line 1)

In [4]:
l = [1,2,1,2,3,0,0,12,12,27]

In [6]:
Counter(l)

Counter({1: 2, 2: 2, 3: 1, 0: 2, 12: 2, 27: 1})

In [7]:
from collections import defaultdict

In [8]:
d = {'k1':1}

In [9]:
d['k1']

1

In [10]:
d['k2']

KeyError: 'k2'

In [11]:
d = defaultdict(object)

In [13]:
for item in d:
    print (item)

In [14]:
d['one']

In [15]:
for item in d:
    print (item)

one

In [16]:
d = defaultdict(lambda: 0)

In [17]:
d['one']

0

In [18]:
d['two'] =2

In [19]:
d

defaultdict(<function __main__.<lambda>()>, {'one': 0, 'two': 2})

In [20]:
from collections import OrderedDict

In [21]:
d = OrderedDict()

In [22]:
d={}

In [23]:
d['a']=1
d['b']=2
d['c']=3
d['d']=4
d['e']=5

In [26]:
for k,v in d.items():
    print (k,v)

a 1
b 2
c 3
d 4
e 5

In [27]:
from collections import namedtuple

In [28]:
Dog = namedtuple('Dog','age breed name')

sam = Dog(age=2,breed='Lab',name='Sammy')

frank = Dog(age=2,breed='Shepard',name="Frankie")

In [29]:
sam.age

2

In [35]:
import datetime

In [48]:
datetime.time(12,12,12)

TypeError: 'tuple' object is not callable

In [38]:
print (t)

(12, 30, 10)

In [65]:
datetime.datetime.time

In [63]:
print(today)

<method 'date' of 'datetime.datetime' objects>

In [69]:
d1 = datetime.date(2019,3,12)

In [68]:
print (d1)

2019-03-12

In [70]:
d2 = d1.replace(year=2019)

In [71]:
print(d2)

2019-03-12

In [72]:
import pdb

In [73]:
import timeit

In [74]:
import re

In [76]:
re.findall('match','test phrase match is in middle and in the end match')

['match', 'match']

In [77]:
import StringIO

ModuleNotFoundError: No module named 'StringIO'

In [78]:
import io

In [79]:
pow(3,4)

81

In [80]:
pow(2,4)

16

In [81]:
pow(2,4,1)

0

In [82]:
pow(2,4,4)

0

In [83]:
abs(-3.14)

3.14

In [84]:
round(3.14522,2)

3.15